{% extends 'base.html' %}

{% block content %}

<div class="card-content m-5">
<h1>Tags:</h1>
<hr>
{% if object_list %}
    {% for tag in object_list %}
    <div class="card bg-transparent p-1 m-3 border-secondary border-1">
        <a class="text-white text-decoration-none p-1" href="{% url 'tag_details' tag.id %}">
            <ul style="list-style: none; font-size: 3vmin;">
                <li>{{tag.name.capitalize}}</li>
            </ul>
        </a>
    </div>
    {% endfor %}
{% else %}
    <h3>No Tags Yet</h3>
{% endif %}
</div>
{% endblock %} 