{% extends 'base.html' %}

{% block content %}

<div class="mt-4">
    <h1>Tag Details</h1>
    <hr>
    <div class="card bg-transparent p-1 m-3 border-secondary border-2">
        <h3 class="text-white p-3"> {{ object.name.capitalize }}</h3>
    </div>
    <div class="m-3">
        <a class="btn btn-dark btn-lg text-light" href="{% url 'tag_update' object.id %}">Edit</a>
        <a class="btn btn-dark btn-lg text-light" href="{% url 'tag_delete' object.id %}">Delete</a>
    </div>
</div>

{% endblock %} 