{% extends 'base.html' %}
{% block content %}

<h1>{{ recipe.name }}</h1>
<h2>{{ recipe.region }}</h2>

{% if recipe.tag.count %}
    {% for tag in recipe.tag.all %}
        <h3>{{tag}}</h3>
        <form action="{% url 'unassoc_tag' recipe.id tag.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove Tag">
        </form>
    {% endfor %}
{% else %}
    <h3>No Tags</h3>
{% endif %}
{% if tags.count %}
    {% for tag in tags %}
        <h3>{{tag}}</h3>
        <form action="{% url 'assoc_tag' recipe.id tag.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add Tag">
        </form>
    {% endfor %}
{% endif %}

<div>
    <a href="{% url 'recipe_update' recipe.id %}">Edit</a>
    <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
</div>

<h3>Ingredients:</h3>
{% for ingredient in recipe.ingredient_set.all %}
<ul>
  <li>{{ingredient.amount}} of {{ingredient.name}}</li>
</ul>
{% endfor %}
<form action="{% url 'add_ingredient' recipe.id %}" method="POST">
    {% csrf_token %}
    {{ ingredient_form.as_p }}
    <input type="submit" class="btn" value="Add">
</form>

<hr>
<h3>Instructions:</h3>
{% for instruction in recipe.instruction_set.all %}
<ul>
  <li>{{instruction.step}}</li>
</ul>
{% endfor %}
<form action="{% url 'add_instruction' recipe.id %}" method="POST">
    {% csrf_token %}
    {{ instruction_form.as_p }}
    <input type="submit" class="btn" value="Add">
</form>


{% endblock %}