{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="col-md-12 pt-5 mt-5">
    <div class="card text-center text-white p-2" style="background-color: #21212180;">
        <form method="GET" id="conversion-form" class="mt-2 p-2">
            <input id="ingredient-name" type="text" class="p-2 m-1 bg-light" placeholder="Ingredient Name" style="border: none; border-radius: 0.5vmin;">
            <input id="source-amount" type="text" class="p-2 m-1 bg-light" placeholder="Source Amount" style="border: none; border-radius: 0.5vmin;">
            <input id="source-unit" type="text" class="p-2 m-1 bg-light" placeholder="Source Unit" style="border: none; border-radius: 0.5vmin;">
            <input id="target-unit" type="text" class="p-2 m-1 bg-light" placeholder="Target Unit" style="border: none; border-radius: 0.5vmin;"><br>
            <button class="btn btn-warning btn-lg text-white mt-3 mb-1" type="submit">Convert</button>
        </form>
        <br>
        <h3 id="conversion-message" style="text-transform: capitalize"></h3>
    </div>
</div>

{% endblock%}
